<table width="100%" >
        <tr>
                <td align="center"><strong>##COMPANY_NAME##</strong></td>
        </tr>
        <tr>
          <td align="center">##COMPANY_SLOGAN##</td>
  </tr>
        <tr>
          <td align="center">##COMPANY_ADRESS##</td>
  </tr>
        <tr>
          <td align="center">Phone: ##COMPANY_PHONE##</td>
  </tr>
        <tr>
          <td align="center">Email ID: ##COMPANY_EMAIL##</td>
  </tr>
        <tr>
          <td align="center">##COMPANY_OPEN_TIME##</td>
  </tr>
</table>


<table width="100%" border="1" >
    <tr>
    <td align="left"><strong>Train No</strong>: ##TRAIN_NO##</td> 

    <td align="right"><strong>Order No</strong>:##ORDER_NO##</td>  
    </tr>
    <tr>
    <td align="left" ><strong>J.Date</strong>: ##JOURNEY_DATE##</td>  
    <td align="right"><strong>Order Date:</strong> ##ORDER_DATE## </td>  
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" border="0" >
            <tr>
            <td width="7%" align="left" ><strong>Class: </strong></td> 
            <td width="12%" align="left" >##TICKET_CLASS##</td> 		
            <td width="10%" align="right" ><strong>From :  </strong></td> 
            <td width="8%" align="left" >##FROM_STATION##</td> 
            <td width="5%" align="right" ><strong>To: </strong></td>
            <td width="10%" align="left" > ##TO_STATION##</td>
            <td width="5%" align="left"  ><strong>Ex : </strong></td> 
            <td width="10%" align="left" ><strong></strong></td>  
            </tr>
            </table>
        </td>
    </tr>
    </table>


<table width="100%" border="1"  cellpadding="0" cellspacing="0"    >
        <tr>
             <td width="5%" align="center"><strong>Sr</strong>.</td>
             <td align="left" width="35%" ><strong>Passenger Details</strong> </td>
             <td width="5%" align="center"><strong>M/F</strong></td>
             <td width="5%" align="center" ><strong>Age</strong></td>
             <td align="left" width="10%" align="center" ><strong>ID</strong></td>
             <td align="left" width="10%" align="center" ><strong>ID No. </strong></td>
             <td rowspan="7" width="30%" >
                     <table width="100%" cellpadding="0"  cellspacing="0" border="1" >
                             <tr >		
                             <td align="left"width="35%" height="20"  ><strong>Ticket Amt</strong></td>
                             <td width="65%" align="left" ><h3>##TICKET_AMOUNT##</h3></td>
                             </tr>
                             <tr >
                                     <td align="left" height="20" ><strong>Guide Ch. </strong></td>
                                     <td >&nbsp;</td>
                             </tr>
                             <tr >
                                     <td align="left" height="20" ><strong>Total</strong></td>
                                     <td >&nbsp;</td>
                             </tr>

                             <tr >
                             <td align="left" height="20"  ><strong>Adv</strong></td>
                             <td align="center"  ><h3>##ADVANCE_AMOUNT##</h3></td>
                             </tr>

                             <tr >
                             <td align="left" height="20" ><strong>F. Amount</strong></td>
                             <td align="left" ><h3>##FINAL_AMOUNT##</h3></td>
                             </tr>


                     </table>
             </td>
       </tr>
       <tr >
             <td  align="center">1</td>
             <td align="left"> ##PASSENGER_NAME1##</td>
             <td align="center" >##GENDER1##</td>
             <td align="center" >##AGE1##</td>
             <td align="center" width="10%">##ID_NAME##</td>
             <td align="center" width="10%" >##ID_NUMBER##</td>

       </tr>
      <tr  >
             <td align="center" >2</td>
             <td align="left" > ##PASSENGER_NAME2##</td>
             <td align="center" >##GENDER2##</td>   
             <td align="center" >##AGE2##</td>     
             <td colspan="2" rowspan="5" align="center" ><b>##CONTACT_NUMBER##</b> <br>
               ##OUR_CHARGES##
             </td>

       </tr>
       <tr >
             <td align="center" >3</td>
             <td align="left" > ##PASSENGER_NAME3##</td>
             <td align="center"  >##GENDER3##</td>
             <td align="center" >##AGE3##</td>

       </tr>
       <tr >
             <td align="center" >4</td>
             <td align="left" > ##PASSENGER_NAME4##</td>
             <td align="center"  >##GENDER4##</td>
             <td align="center" >##AGE4##</td>

       </tr>
      <tr >
             <td align="center" >5</td>
             <td align="left" > ##PASSENGER_NAME5##</td>
             <td align="center"  >##GENDER5##</td>
             <td align="center" >##AGE5##</td>      

       </tr>
       <tr >
             <td align="center" >6</td>
             <td align="left" > ##PASSENGER_NAME6##</td>
             <td align="center" >##GENDER6##</td>
        <td align="center"  >##AGE6##</td>

       </tr>
</table>
<table width="100%" border="0" style=" margin-top: 15px;">
    <tr>
    <td width="80%" align="left" >##INSTRUCTIONS##</td> 				
    <td width="20%" align="left" >(Signature of Punjabi Traders)  (PTO)</td> 			
    </tr>
 </table>
