<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Punjabi traders</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<style type="text/css">
	.table th, .table td{
		padding: 2px;
		font-size: 17px;
	}
	body{
		font-size: 11px !important;
	}
	h3 {
		font-size: 15px !important;
	}
	h1,h2,h3,h4,h5 {
		padding: 0px !important;
		margin: 0px !important;
		line-height: 18px;
	}

</style>
<div id="wrap" style="padding: 0px;" align="center">
<div align="left" style=" border: 0px solid #DDD;">

<!-- HEADER -->


<div id="wrap" style="border: 1px solid #DDD;" align="center">
		<div class="row-fluid" >
			<div class="span12" align="center">
				<table width="100%" >
			<tr>
				<td align="center"><strong>##COMPANY_NAME##</strong></td>
			</tr>
			<tr>
			  <td align="center">##COMPANY_SLOGAN##</td>
		  </tr>
			<tr>
			  <td align="center">##COMPANY_ADRESS##</td>
		  </tr>
			<tr>
			  <td align="center">Phone: ##COMPANY_PHONE##</td>
		  </tr>
			<tr>
			  <td align="center">Email ID: ##COMPANY_EMAIL##</td>
		  </tr>
			<tr>
			  <td align="center">##COMPANY_OPEN_TIME##</td>
		  </tr>
		</table>
		  </div>
		</div>
		
		<div class="row-fluid" >
			<div class="span12" align="center">
			<table width="98%" border="0" >
			<tr>
			<td align="left"><strong>Train No</strong>: ##TRAIN_NO##</td> 
			
			<td align="right"><strong>Order No</strong>:##ORDER_NO##</td>  
			</tr>
			<tr>
			<td align="left" ><strong>J.Date</strong>: ##JOURNEY_DATE##</td>  
			<td align="right"><strong>Order Date:</strong> ##ORDER_DATE## </td>  
			</tr>
			</table>
		  </div>
		</div>
		<div style="clear: both;"></div>
		<div class="row-fluid" style="margin-top:5px">
			<div class="span12" align="center">
			<table width="100%" border="0" >
			<tr>
			<td width="7%" align="left" ><strong>Class : </strong></td> 
			<td width="12%" align="left" >##TICKET_CLASS##</td> 		
			<td width="10%" align="right" ><strong>From :  </strong></td> 
			<td width="8%" align="left" >##FROM_STATION##</td> 
			<td width="5%" align="right" ><strong>To: </strong></td>
			<td width="10%" align="left" > ##TO_STATION##</td>
			<td width="5%" align="left"  ><strong>Ex : </strong></td> 
			<td width="10%" align="left" ><strong></strong></td>  
			</tr>
			</table>
		  </div>
		</div>
		
		
		
		<div style="clear: both;"></div>
		<div class="row-fluid" style="margin-top:5px">
			<div class="span12" align="center">
			
				<table width="100%" border="0"  align="center" cellpadding="1" cellspacing="0"    >
				   <tr style="border:1px solid #DDD">
					<td width="5%" align="center" style="border:1px solid #DDD" ><strong>Sr</strong>.</td>
					<td align="left" width="33%" style="border:1px solid #DDD" ><strong>Passenger Details</strong> </td>
					<td width="5%" style="border:1px solid #DDD" ><div align="center"><strong>M/F</strong></div></td>
					<td width="5%" style="border:1px solid #DDD"><div align="center"><strong>Age</strong></div></td>
					<td align="left" width="10%" style="border:1px solid #DDD"><strong>ID</strong></td>
					<td align="left" width="10%" style="border:1px solid #DDD"><strong>ID No. </strong></td>
					<td rowspan="7" width="30%" style="border:1px solid #DDD">
						<table width="100%" cellpadding="0"  cellspacing="0" >
							<tr style="border: 1px solid #DDD;">		
							<td align="left"width="35%" height="20" style="border-right:1px solid #DDD" ><strong>Ticket Amt</strong></td>
							<td width="65%" align="left" ><h3>##TICKET_AMOUNT##</h3></td>
							</tr>
							<tr style="border: 1px solid #DDD;">
								<td align="left" height="20" style="border-right:1px solid #DDD"><strong>Guide Ch. </strong></td>
								<td >&nbsp;</td>
							</tr>
							<tr style="border: 1px solid #DDD;">
								<td align="left" height="20" style="border-right:1px solid #DDD"><strong>Total</strong></td>
								<td >&nbsp;</td>
							</tr>
							
							<tr style="border: 1px solid #DDD;">
							<td align="left" width="25%" height="20" style="border-right:1px solid #DDD" ><strong>Adv</strong></td>
							<td align="center"  ><h3>##ADVANCE_AMOUNT##</h3></td>
							</tr>
							
							<tr style="border: 1px solid #DDD;">
							<td align="left" height="20" style="border-right:1px solid #DDD"><strong>F. Amount</strong></td>
							<td align="left" ><h3>##FINAL_AMOUNT##</h3></td>
							</tr>
							
							
						</table>
					</td>
				  </tr>
				  <tr style="border:1px solid #DDD">
					<td  align="center">1</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME1##</td>
					<td style="border-right:1px solid #DDD">##GENDER1##</td>
					<td style="border-right:1px solid #DDD">##AGE1##</td>
					<td align="left" width="10%" style="border-right:1px solid #DDD">##ID_NAME##</td>
					<td align="left" width="10%" >##ID_NUMBER##</td>
					
				  </tr>
				 <tr style="border:1px solid #DDD" >
					<td align="center" style="border-right:1px solid #DDD">2</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME2##</td>
					<td style="border-right:1px solid #DDD">##GENDER2##</td>   
					<td style="border-right:1px solid #DDD">##AGE2##</td>     
					<td colspan="2" rowspan="5" align="center" style="font-size:10px; font-family:Bell MT,Arial, Helvetica, sans-serif;" ><b>##CONTACT_NUMBER## <br>
					  ##OUR_CHARGES##</b></td>
				   
				  </tr>
				  <tr style="border:1px solid #DDD">
					<td align="center" style="border-right:1px solid #DDD">3</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME3##</td>
					<td style="border-right:1px solid #DDD">##GENDER3##</td>
					<td style="border-right:1px solid #DDD">##AGE3##</td>
					
				  </tr>
				  <tr style="border:1px solid #DDD">
					<td align="center" style="border-right:1px solid #DDD">4</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME4##</td>
					<td style="border-right:1px solid #DDD">##GENDER4##</td>
					<td>##AGE4##</td>
					 
				  </tr>
				 <tr style="border:1px solid #DDD">
					<td align="center" style="border-right:1px solid #DDD">5</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME5##</td>
					<td style="border-right:1px solid #DDD">##GENDER5##</td>
					<td style="border-right:1px solid #DDD">##AGE5##</td>      
					
				  </tr>
				  <tr style="border:1px solid #DDD">
					<td align="center" style="border-right:1px solid #DDD">6</td>
					<td align="left" style="border-right:1px solid #DDD"> ##PASSENGER_NAME6##</td>
					<td style="border-right:1px solid #DDD">##GENDER6##</td>
				   <td style="border-right:1px solid #DDD">##AGE6##</td>
					
				  </tr>
				</table>
		  </div>
		</div>
		
		
		<div style="clear: both;"></div>
		<div class="row-fluid" style="margin-top:5px">
			<div class="span12" align="center">
			<table width="100%" border="0" >
			<tr>
			<td width="80%" align="left" >##INSTRUCTIONS##</td> 				
			<td width="20%" align="left" >(Signature of Punjabi Traders)  (PTO)</td> 			
			</tr>
			</table>
		  </div>
		</div>
		<div style="clear: both;"></div>
		<div class="row-fluid" style="margin-top:5px">
			<div class="span12" align="center">
			<table width="100%" border="0" >
			<tr>
			<td width="100%" align="center" ></td> 										
			</tr>
			</table>
		  </div>
		</div>
	
	
	
	
</div>

</div>


</div>

</div>
</body>
</html>